{% extends "base.html" %}

{% block content %}
  <section class="section mt-0 p-2">
    <div class="container mt-0">
        <div class="columns">
            <div class="column is-narrow">
                <figure class="image px-3" >
                    <img class="is-square" src="assets/imgs/elob.jpg" style="max-width: 200px; width: 12em; height: 16em; object-fit: cover;">
                </figure>
            </div>
            <div class="column">
                <div class="content">
                    <h1 class="title is-4 mt-2 mb-1">Prof. Eduardo L. O. Batista</h1>
                    <h2 class="title is-6 is-italic my-2 py-1">Associate Professor</h2>
                    <blockquote class="p-2">
                        Circuits and Signal Processing Laboratory (LINSE)<br>
                        Department of Electrical and Electronics Engineering (EEL)<br>
                        Federal University of Santa Catarina (UFSC)<br>
                        Florianópolis - SC - Brazil
                    </blockquote>
                    <block class="mt-1 pt-1">
                        Email: eduardo.batista@ufsc.br<br>
                        Homepage: <a href="http://eduardobatista.github.io/">http://eduardobatista.github.io/</a>
                    </block>
                  </div>
                
            </div>
            
        </div>

        <div class="box">
            <p class="title is-5 mb-2">Short Biography</p>
            <p class="mt-1">            
Eduardo Luiz Ortiz Batista received the B.S., M.Sc., and Ph.D. degrees from the Federal University of Santa Catarina, Florianópolis, Brazil, in 2002, 2004, and 2009, respectively, all in electrical engineering. Since 2010, he has been with the Federal University of Santa Catarina, where he is currently a Professor, and he is also with the LINSE—Circuits and Signal Processing Laboratory. His current research interests include nonlinear adaptive filtering, reduced-complexity adaptive
algorithms, active vibration control, beamforming algorithms, and the effective implementation of neural networks.
</p>
        </div>
        

      <!-- <h1 class="title">
        Hello World
        <i class="fa-solid fa-chalkboard-user"></i>
      </h1>
      
      <p class="subtitle">
        My first website with <strong>Bulma</strong>!
      </p> -->
      
    </div>
  </section>
{% endblock %}
  