{% extends "base.html" %}

{% block content %}
  <section class="section mt-0 p-2">
    <div class="container mt-0">

       <h1 class="title is-4">ActVib</h1>
       <div class="block">
        A complete open-source open-hardware system for research in active vibration control.
        Can also be used for research activites in other areas involving vibration signals, such as
        structural health monitoring.
       </div>

       <h1 class="title is-4">FPGAEmuWeb</h1>
       <div class="block">
        A web-based FPGA/VHDL emulator/simulator with educational purposes.
       </div>

       <h1 class="title is-4">TCMon</h1>
       <div class="block">
        A simple very-low-cost Arduino-based thermocouple monitoring system. 
       </div>
       
    </div>
  </section>
{% endblock %}
  