{% extends "base.html" %}

{% block content %}
  <section class="section mt-0 p-2">
    <div class="container mt-0">

      <h1 class="title is-5 mt-3 mb-2">Research Áreas</h1>
      <div class="box">
        Under construction...
      </div>

      <h1 class="title is-5 mt-3 mb-2">Publications</h1>
      <div class="box content">
        Lists of my publications can be found through the following websites:
        <ul class="mt-1">
          <li><a href="https://scholar.google.com.br/citations?user=OUbSAuwAAAAJ&hl=en&oi=sra">Google Scholar</a></li>
          
          <li><a href="http://dblp.uni-trier.de/pers/hd/b/Batista:Eduardo_Luiz_Ortiz">DBLP</a></li>
          
          <li><a href="http://www.researchgate.net/profile/Eduardo_Batista2">ResearchGate</a></li>
          
          <li><a href="http://lattes.cnpq.br/6303940442103708">Lattes Curriculum (http://lattes.cnpq.br/6303940442103708)</a></li>
          
          <li><a href="http://www.linse.ufsc.br/skel1.php?section_id=19&parent=pesquisa&QueryKind=author&LINSEAuthor=90&language=en-US">Circuits and Signal Processing Lab Home Page (http://www.linse.ufsc.br)</a></li>
        </ul>
       </div>      
    </div>
  </section>
{% endblock %}